@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/TheMixPlain.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
  
}

:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}


.background {
    width: 100vw;
    height: 100vh;
    background: rgb(255,255,255);
    background-repeat: no-repeat;
}

#syncbtn {
    border: 1px solid black;
    padding: 1rem;
    font-size: 2rem;
    color: black;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'Ubuntu', serif;
}

#content_mode0 {
    display: none;
}

#content_mode1 {
    display: none;
}


#grid {
    padding: 2rem;
    height: 60vh;
    width: 100%
}

.gridbtn {
    border: 1px solid black;
    width: 20vw;
    height: 20vw;
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -moz-user-select: none; /* Firefox */
}

.playbtn {
    background-color: rgb(161, 161, 161);
    border: 1px solid black;
    width: 20vw;
    height: 20vw;
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -moz-user-select: none; /* Firefox */
}
/* Define the gradient from red to blue */
.btn1 { background-color: rgba(255, 0, 0, 1); }     /* Red */
.btn2 { background-color: rgba(238, 0, 17, 1); }
.btn3 { background-color: rgba(221, 0, 34, 1); }
.btn4 { background-color: rgba(204, 0, 51, 1); }
.btn5 { background-color: rgba(187, 0, 68, 1); }
.btn6 { background-color: rgba(170, 0, 85, 1); }
.btn7 { background-color: rgba(153, 0, 102, 1); }
.btn8 { background-color: rgba(136, 0, 119, 1); }
.btn9 { background-color: rgba(119, 0, 136, 1); }
.btn10 { background-color: rgba(102, 0, 153, 1); }
.btn11 { background-color: rgba(85, 0, 170, 1); }
.btn12 { background-color: rgba(68, 0, 187, 1); }
.btn13 { background-color: rgba(51, 0, 204, 1); }
.btn14 { background-color: rgba(34, 0, 221, 1); }
.btn15 { background-color: rgba(17, 0, 238, 1); }
.btn16 { background-color: rgba(0, 0, 255, 1); }   /* Blue */


.noselect {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -moz-user-select: none; /* Firefox */
}